* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Task 3 Uncomment this code! */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  text-align: center;
  background-color: #f9f9f9;
}

h1 {
  font-size: 2rem;
  color: #2c3e50;
}

header,
footer {
  background-color: #f4f4f4;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

main {
  padding: 1rem;
}

#timer-controls {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: red;
}

.timer-control-button {
  border: black 1px solid;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}

.timer-control-button:hover {
  background-color: #2980b9;
}

#instructions {
  font-size: 0.9rem;
}

#instructions h2 {
  font-size: 1rem;
}

.instructions-list {
  margin-top: 1rem;
  list-style-type: none;
}
