* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Task 3 Uncomment this code! */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #fefefe;
  text-align: center;
  background-color: #3c3c3c;
  transition: all 2s;
}

h1 {
  font-size: 2rem;
  color: #fefefe;
}

header,
footer {
  padding: 1rem;
  margin-bottom: 1.5rem;
}

main {
  padding: 1rem;
}

#timer-controls {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: #f4f4f4;
}

.timer-control-button {
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #3d4f5c;
  color: #f4f4f4;
  cursor: pointer;
  transition: all 0.5s;
}

@media screen {
  #add30Sec:hover {
    background-color: #e7b416;
  }

  #startPause:hover {
    background-color: #2dc937;
    font-size: 1.5rem;
  }

  #reset:hover {
    background-color: #cc3232;
  }
}

#add30Sec:active {
  background-color: #e7b416;
}

#startPause:active {
  background-color: #2dc937;
  font-size: 1.5rem;
}

#reset:active {
  background-color: #cc3232;
}

#instructions {
  font-size: 0.9rem;
}

#instructions h2 {
  font-size: 1rem;
}

.instructions-list {
  margin-top: 1rem;
  list-style-type: none;
}

@keyframes flash {
  0% {
    background-color: #b62e2e;
  }
  50% {
    background-color: #3c3c3c;
  }
  100% {
    background-color: #b62e2e;
  }
}
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  margin: unset;
}
